@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

:root {
    --bg-offwhite: #f1f1f1;
    --bg-surface: #f8f8f8;
    --accent: #1e7a3d;
    --accent-lite: #e3ece6;
    --muted: #7c8189;
    --border: #e5e7eb;
    --text: #111111;

    --radius: 0.75rem;
    --shadow-1: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
    --shadow-2: 0 0.375rem 0.875rem rgba(0, 0, 0, 0.06);

    --topbar-h: 3.5rem;
    --sidebar-w: 15rem;


}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: var(--bg-offwhite);
}

.Toastify__toast--success {
    background: var(--bg-offwhite) !important;
    color: var(--text) !important;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

.Toastify__toast--success .Toastify__toast-icon svg {
    fill: var(--accent) !important;
}

.Toastify__toast--success .Toastify__progress-bar {
    background: var(--accent) !important;
}

.Toastify__toast--error {
    background: var(--bg-offwhite) !important;
    color: var(--text) !important;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: tomato !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background: tomato !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--text);
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

.tahoma,
.name,
.trips-title {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-size: 1rem;
    cursor: pointer;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 1rem;
}