/* Import "Open Sans" for font use */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3ece6;
  text-align: center;
}

/* Header of logo and welcome message */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.header-container h1 {
  color: black;
  font-size: 25px;
  font-family: Tahoma, sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
}
.header-container p {
  color: #7c8189;
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

/* Login box */
.login-container {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px;

  width: 400px;
  height: 100px;
}

.login-container h1 {
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 8px;
}

/* Button styling */
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-size: 12px;
  font-weight: 400;
  background-color: #1e7a3d;
  color: white;

  border: none;
  border-radius: 4px;
  padding: 10px 24px;

  cursor: pointer;
  width: 350px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
}

/* Hover effect for button */
.login-button:hover {
  background-color: #16582c;
}

/* PlanIt logo image */
.logo {
  width: 125px;
  height: auto;
}

/* Google G logo image inside button */
.google-g {
  width: 20px;
  height: auto;
}

