.setting-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-offwhite);
}

.setting-with-sidebar {
    display: flex;
    flex: 1;
    margin-top: var(--topbar-h);
    margin-left: 11.5rem;
    transition: margin 0.3s ease-in-out;
}

.main-content {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
    background: var(--bg-offwhite);
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 1rem;
}

.Settings-title-section {
    flex: 1;
}

.settings-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-dark2);
    margin: 0 0 8px 0;
    font-family: Tahoma, sans-serif;
}

.settings-subtitle {
    font-size: 16px;
    color: var(--text-medium);
}

.settings-section {
    padding: 1.5rem;
}

.setting-page-loading-container {
     position: fixed;
     top: var(--topbar-h);
     left: 11.5rem;
     width: calc(100vw - 11.5rem);
     height: calc(100vh - var(--topbar-h));
     display: flex;
     justify-content: center;
     align-items: center;
     background: var(--bg-offwhite);
     z-index: 100;
 }
/*Tablet*/
@media (max-width: 1024px) and (min-width: 901px) {
    .setting-with-sidebar {
        margin-left: 11.5rem;
    }

    .setting-page-loading-container {
        left: 11.5rem;
        width: calc(100vw - 11.5rem);
    }

    .main-content {
        padding: 1.25rem;
    }

    .settings-section {
        padding: 1.25rem;
    }
}

/*Mobile*/
@media (max-width: 900px) {
    .setting-with-sidebar {
        margin-left: 0;
        flex-direction: column;
    }

    .main-content {
        padding: 1.25rem;
    }

    .settings-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .settings-section {
        padding: 1.25rem;
    }

    .setting-page-loading-container {
        left: 0;
        width: 100vw;
    }
}

/*Small Mobile*/
@media (max-width: 480px) {
    .main-content {
        padding: 1rem;
    }

    .settings-section {
        padding: 0.75rem;
    }

    .setting-page-loading-container {
        left: 0;
        width: 100vw;
        height: calc(100vh - var(--topbar-h));
    }
}