.setting-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-offwhite);
}

.setting-with-sidebar {
    display: flex;
    flex: 1;
    margin-top: var(--topbar-h);
    margin-left: 11.5rem;
    transition: margin 0.3s ease-in-out;
}

.main-content {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
    background: var(--bg-offwhite);
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 1rem;
}

.Settings-title-section {
    flex: 1;
}

.settings-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-dark2);
    margin: 0 0 8px 0;
    font-family: Tahoma, sans-serif;
}

.settings-subtitle {
    font-size: 16px;
    color: var(--text-medium);
}

.settings-section {
    padding: 1.5rem;
}

.page-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
}

